<ul class="card-text font-weight-light list-group list-group-flush">
  {% for item in data[1] %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-2 cl-sm-2 col-md-2 text-center date-column">
          {% if item.startDate %}
            {% assign startDate = item.startDate | split: '-' | slice: 0, 2 | join: '.' %}
            {% assign endDate = item.endDate | split: '-' | slice: 0, 2 | join: '.' %}
            <span class="badge font-weight-bold danger-color-dark text-uppercase align-middle" style="min-width: 75px">
              {{ startDate }} - {{ endDate }}
            </span>
          {% endif %}
        </div>
        <div class="col-xs-10 cl-sm-10 col-md-10">
          <strong>{{ item.name }}</strong>, {{ item.position }}
          <br/>{{ item.summary }}
        </div>
      </div>
    </li>
  {% endfor %}
</ul> 